@font-face {
	font-family: PerfectDOS;
	src: url(../res/Perfect_DOS_VGA_437.ttf);
}

body {
	background-image: url(../res/background.png);
	font-size: 16px;
	font-family: PerfectDOS, Courier New;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 
	cursor: default;
}

h1 {
	color: #FCDC84;
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	
}

a {
	color: #FCDC84;
	text-decoration: none;
}

a.github_link {
	position: absolute;
	bottom: 0px;
	left: 50%;
	opacity: 0.5;
	transition: opacity 0.5s;
}

a.github_link:hover {
	opacity: 1;
}

td.spacer10 {
	width: 10px;
}


table.tracker {
	background: #A49054;
	color: #000000;
	border: outset 2px;
	border-color: #FCDC84 #504428 #504428 #FCDC84;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
}


table.patternView {
	border: inset 2px;
	border-color: #504428 #FCDC84 #FCDC84 #504428;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
    table-layout: fixed;
	white-space: nowrap;
	overflow: hidden;
	width: 0px;
}


td.dataCell {
	background-color: #000000;
    color: #AAAAAA;
	padding-left: 4px;
	padding-right: 4px;
	text-align: left;
}


td.dataLabelCell {
	color: #000000;
    
	padding-left: 4px;
	padding-right: 4px;
	text-align: right;
}


td.patternBeatRow {
	background: #302C28;
}


td.patternBeatRow4 {
	background: #48403C;
}


td.patternCellBorder {
	border-right: solid 4px #A49054;
}

td.patternRowHeader {
	cursor: pointer;
	background: #504428;
	color: #FCDC84;
	padding-left: 4px;
	padding-right: 4px;
	width: 116px;
}

td.patternRowHeaderLeft {
	background: #000000;
    -webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	padding-left: 4px;
	padding-right: 4px;
	width: 16px;
}

td.patternRowHeaderMute {
	color: #A49054;
}

td.rowPlayHead {
    background: #504428 !important;
}


td.vuCell {
	background: #000000;
	padding-left: 4px;
	padding-right: 4px;
	color: #AAAAAA;
	width: 116px;
	height: 16px;
	overflow: hidden;
}

div.vuLed {
	float: left;
	width: 4px;
	height: 12px;
	margin: 2px;
	margin-left: 0px;
	border-radius: 1px;
}


div.vuGreenOff {
	background: #004000;
}

div.vuGreenOn {
	background: #20C020;
}

div.vuRedOff {
	background: #400000;
}

div.vuRedOn {
	background: #C02020;
}


/**
 * Styles for buttons in various states.
 */
div.smallButton {
	cursor: pointer;
	background: #A49054;
	color: #000000;
	border: outset 2px;
	border-color: #FCDC84 #504428 #504428 #FCDC84;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
 	padding: 2px;
	width: 14px;
	height: 14px;
}


div.smallButton:hover {
	background: #504428;
	color: #FCDC84;
	padding: 2px;
}


div.smallButton:active {
	border: inset 2px;
	border-color: #504428 #FCDC84 #FCDC84 #504428;
	padding: 1px;
	padding-left: 3px;
	padding-top: 3px;
}


/**
 * Styles for play button and mouse over.
 */
div.btnPlay {
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-image: url(../res/btnplay.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}

div.btnPlay:hover {
	background-image: url(../res/btnplay2.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}


/**
 * Styles for pause button and mouse over.
 */
div.btnPause {
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-image: url(../res/btnpause.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}

div.btnPause:hover {
	background-image: url(../res/btnpause2.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}


/**
 * Styles for prev order button and mouse over.
 */
div.btnPrev {
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-image: url(../res/btnprev.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}

div.btnPrev:hover {
	background-image: url(../res/btnprev2.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}


/**
 * Styles for next order button and mouse over.
 */
div.btnNext {
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-image: url(../res/btnnext.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}

div.btnNext:hover {
	background-image: url(../res/btnnext2.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}


/**
 * Styles for eject button and mouse over.
 */
div.btnEject {
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-image: url(../res/btneject.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}

div.btnEject:hover {
	background-image: url(../res/btneject2.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}


/**
 * Styles for repeat pattern button and mouse over.
 */
div.btnPattern {
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-image: url(../res/btnpattern.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}

div.btnPattern:hover {
	background-image: url(../res/btnpattern2.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}


/**
 * Styles for scroll left button and mouse over.
 */
div.btnScrollLeft {
    background-image: url(../res/btnleft.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}


div.btnScrollLeft:hover {
    background-image: url(../res/btnleft2.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}


/**
 * Styles for scroll right button and mouse over.
 */
div.btnScrollRight {
    background-image: url(../res/btnright.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}


div.btnScrollRight:hover {
    background-image: url(../res/btnright2.png);
	background-repeat: no-repeat;
	background-origin: content-box;
}


div.scrollButton {
	background: #A49054;
	border: outset 2px;
	border-color: #FCDC84 #504428 #504428 #FCDC84;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
 	padding: 2px;
	width: 104px;
	height: 14px;
}


div.btnPatternDown {
	background: #504428;
	color: #FCDC84;
	padding: 10px;
	width: 16px;
	height: 16px;
	background-image: url(../res/btnpattern2.png);
	background-repeat: no-repeat;
	background-origin: content-box;
    border: inset 2px;
	border-color: #504428 #FCDC84 #FCDC84 #504428;
	padding: 9px;
	padding-left: 11px;
	padding-top: 11px;
}

div.btnPatternDown:hover {
	padding: 9px;
	padding-left: 11px;
	padding-top: 11px;
}






td.infoSong {
    border: inset 2px;
    border-color: #504428 #FCDC84 #FCDC84 #504428;
    -webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	border-bottom: none;
	width: 300px;
}


td.infoOrder {
    border: inset 2px;
    border-color: #504428 #FCDC84 #FCDC84 #504428;
	border-top: none;
	border-bottom: none;
	width: 64px;
}

td.infoTextTempo {
	border: none;
    border-top: outset #FCDC84 2px;
}


td.infoPattern {
    border: inset 2px;
    border-color: #504428 #FCDC84 #FCDC84 #504428;
    -webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	border-top: none;
	wsith: 64px;
}


td.infoRow {
    border: inset 2px;
    border-color: #504428 #FCDC84 #FCDC84 #504428;
    -webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	border-top: none;
	width: 64px;
}


td.logo {
	background-image: url(../res/scriptracker.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 35px;
	text-align: center;
	font-size: 10px;
	font-family: Courier New;
	font-weight: bold;
	color: #504428;
}


table.scrollTrack {
	background: #504428;
	width: 100%;
}

div.overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 100;
}

div.dialog {
	position: absolute;
	width: 480px;
	height: 230px;
	top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -250px;	
	box-shadow: 16px 16px 0px rgba(0,0,0,0.5);
	padding: 10px;
}

div.dialog div.buttonStrip {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

div.dialog div.button {
	float: right;
	width: 100px;
	text-align: center;
}

div.logoInset {
	border: inset 2px;
	border-color: #504428 #FCDC84 #FCDC84 #504428;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-image: url(../res/scriptracker.png);
	background-repeat: no-repeat;
	background-position: center 10px;
	padding: 45px 10px 10px 10px;
	text-align: center;
	font-size: 10px;
	font-family: Courier New;
	font-weight: bold;
	color: #504428;
	margin-bottom: 4px;
}

/**
 * Style for block.
 */
.block {
	background: #A49054;
	color: #000000;
	font-size: 16px;
	font-family: PerfectDOS, Courier New;
	border: outset 2px;
	border-color: #FCDC84 #504428 #504428 #FCDC84;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
}


/**
 * Clickable block hover and clicked states.
 */
.blockClickable:hover {
	background: #504428;
	color: #FCDC84;
	cursor: pointer;
}

.blockClickable:active {
	border: inset 2px !important;
	border-color: #504428 #FCDC84 #FCDC84 #504428 !important;
	padding: 9px !important;
	padding-left: 11px !important;
	padding-top: 11px !important;
}


/**
 * Basic common styles.
 */
 .hilight {
	color: #FCDC84;
 }
 
.fullWidth {
	width: 100%;
}


.hidden {
	display: none;
}